$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$new-btn-text-color: #008766;
$operation-steps-bg-color: rgb(245, 245, 245);

@mixin DisplayFlex-Justify-content ($justify-content) {
    display: flex;
    justify-content: $justify-content;
}

@mixin Margin-Padding ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin Bgcolor-Border-radius ($bgcolor, $border-radius) {
    background-color: $bgcolor;
    border-radius: $border-radius;
}

@keyframes bodyOverflow {
    0% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: scroll;
    }
}

@keyframes loaderItems {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes loaderHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
	margin: 0px;
    animation-name: bodyOverflow;
    animation-duration: 6.5s;
}

a {
    text-decoration: none;
}

.location {
    background-color: rgb(235, 235, 235);
    box-shadow: inset 0 5px 5px -5px #8a8a8a;
    &__city {
        font-weight: 700;
    }
}

.logo, .location, .booking {
	@include DisplayFlex-Justify-content(center);
}

.logo {
    img {
        padding: 20px 20px 10px 20px;
    }
}

.booking {
    background-color: $operation-steps-bg-color;
    text-align: center;
    flex-direction: column;
    align-items: center;
    article {
        @include Margin-Padding(0px 20px, 20px 0px 80px 0px);
    }
    &__explore {
        margin-top: 50px;
    }
    &__button {
        padding: 15px 20px;
        border-radius: 25px;
        border: none;
        background: linear-gradient($secondary-color, $main-color);
        box-shadow: 0px 3px 10px 2px rgb(175, 175, 175);
        color: #fff;
        font-weight: 500;
        transition: 0.25s ease-in-out;
        &:hover {
            box-shadow: 0px 3px 10px 4px rgb(175, 175, 175);
            filter: brightness(110%);
        }
    }
    &__title {
        margin: 10px 10px 0px 10px;
    }
}

.restaurants {
    background-color: $operation-steps-bg-color;
    padding: 25px 0 50px 0;
    &__title, &__card {
        margin-left: 20px;
        margin-right: 20px;
    }
    &__card {
        @include Bgcolor-Border-radius(#fff, 25px);
        margin-bottom: 25px;
    }
    &__card > img {
        min-width: 100%;
        max-width: 100%;
        height: 280px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        object-fit: cover;
    }
    &__textheart {
        @include DisplayFlex-Justify-content(space-between);
        align-items: center;
        article {
            padding-left: 20px;
            h3 {
                margin: 15px 0 0 0;
            }
            p {
                margin-top: 5px;
            }
        }
        div {
            display: flex;
            align-items: center;
            margin-right: 100px;
            // Set a height and width to make sure we can't hover too far over the core as it looks inconsistent
            width: 0;
            height: 24px;
        }
        div:hover {
            .fa-regular.fa-heart {
                opacity: 0;
            }
            .fa-solid.fa-heart {
                opacity: 1;
            }
        }
    }
    a {
        color: #000;
    }
    &__newdiv {
        @include DisplayFlex-Justify-content(flex-end);
        align-items: center;
        height: 0;
    }
    &__new {
        @include Margin-Padding(85px 25px 0 0, 5px 10px);
        @include Bgcolor-Border-radius($tertiary-color, 2px);
        color: $new-btn-text-color;
        font-weight: 700;
        z-index: 1;
    }
}

.operation-steps {
    margin: 50px 0 50px 0;
    &__title {
        margin-left: 20px
    }
    &__card {
        @include Margin-Padding(15px 20px 10px 20px, 10px);
        @include Bgcolor-Border-radius($operation-steps-bg-color, 15px);
        font-weight: 700;
        box-shadow: 0px 4px 10px 2px rgb(233 233 233);
        div {
            @include DisplayFlex-Justify-content(space-between);
            align-items: center;
            max-width: 70%;
        }
    }
    &__card:hover {
        background-color: #9256dc25;
        i {
            color: $main-color;
        }
    }
    &__number {
        @include Bgcolor-Border-radius($main-color, 50%);
        @include DisplayFlex-Justify-content(center);
        align-items: center;
        height: 20px;
        width: 20px;
        color: #fff;
        position: relative;
        right: 18px;
    }
    &__container {
        display: flex;
        flex-direction: column;
    }
}

.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(45deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 35%, rgba(153,226,208,1) 100%);
    animation-name: loaderHide;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    &__items {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    &__icons {
        padding-top: 50px;
    }
    i {
        animation-name: loaderItems;
    }
    i:nth-child(1) {
        animation-duration: 0.5s;
    }
    i:nth-child(2) {
        padding: 0 50px;
        animation-duration: 1s;
    }
    i:nth-child(3) {
        animation-duration: 1.25s;
    }
}

.fa-location-dot {
    padding-right: 15px;
}

.fa-utensils, .fa-handshake-angle {
    width: 35px;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
    padding-right: 15px;
}

.fa-regular.fa-heart {
    position: relative;
    left: 24px;
    transition: 0.2s ease-in-out;
}

.fa-solid.fa-heart {
    opacity: 0;
    color: $main-color;
    transition: 0.2s ease-in-out;
}

footer {
    background-color: rgb(50, 50, 50);
    padding: 25px;
}

.contact {
    a, p {
        color: #fff;
        margin-bottom: 0;
    }
}

/* For screens wider than 768px (Tablet) */
@media screen and (min-width: 768px) {
    .operation-steps {
        &__container {
            flex-direction: row;
            justify-content: center;
        }
        &__number {
            height: 25px;
            width: 40px;
            right: 21px;
        }
    }
}

/* For screens wider than 1024px (Desktop) */
@media screen and (min-width: 1024px) {
    .logo {
        padding: 20px;
    }

    .booking {
        &__title {
            font-size: 40px;
            margin: 10px 10px 30px 10px;
        }
        article {
            padding: 20px 0px 50px 0px;
        }
    }

    .operation-steps {
        margin: 50px 10%;
        &__title {
            margin-left: 10px;
        }
        &__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }
        &__number {
            height: 33px;
            right: 28px;
        }
    }

    .restaurants {
        &__title {
            margin-left: 10%;
            margin-bottom: 35px;
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 50px;
            row-gap: 50px;
            margin: 0px 10%;
        }
        &__card {
            margin-left: 0;
        }
    }

    .footer__items {
        display: flex;
        flex-direction: row-reverse;
        padding: 75px 50px 0 0;
        svg {
            padding-top: 8px;
            margin-left: 50px;
        }
        .contact {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            &__link-contact {
                padding-left: 20px;
            }
            &__link-mentions {
                padding-left: 50px;
            }
            &__link-proposal {
                padding-right: 20px;
            }
        }
    }
}/*# sourceMappingURL=style.css.map */